[submodule "antigen"]
	path = antigen
	url = git@github.com:zsh-users/antigen.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
