# es6 import
snippet imrd "import ReactDOM from 'react-dom'"
import ReactDOM from 'react-dom'
endsnippet

snippet rdfdn "ReactDOM: ReactDOM.findDOMNode(…)" i
ReactDOM.findDOMNode(${1:this})${0}
endsnippet

snippet rducan "ReactDOM: ReactDOM.unmountComponentAtNode(container)" i
ReactDOM.unmountComponentAtNode(${1:this})${0}
endsnippet

snippet rdren "ReactDOM: ReactDOM.render(element,container,[callback])" b
ReactDOM.render(
	${1},
	${2:document.getElementById('')}
)
endsnippet

