# html

snippet htmlimage "image with caption" b
<figure>
  <div class="figure-images">
    <img src="${1}" alt="">
  </div>
  <figcaption>$2</figcaption>
</figure>
endsnippet

# jekyll

snippet jekyllpage "jekyll frontmatter for a page" b
---
layout: page
title: "$1"
date: `date "+%Y-%m-%d %H:%M:%S"`
---
endsnippet

snippet jekyllimage "jekyll image" i
{{ site_url  }}/images/$1
endsnippet

