snippet math-statement "Hugo math-statement" b
{{% math-statement type="$1" %}}
$2
{{% /math-statement %}}
endsnippet

snippet repl "Hugo repl.it" b
{{< repl $1 >}}
endsnippet

snippet snippet "Hugo snippet" b
{{< snippet lang="" line="" >}}
$1
{{< /snippet >}}
endsnippet

