extends textmath

snippet bmatrix "bracket matrix"
\begin{bmatrix} $0 \end{bmatrix}
endsnippet

snippet "be(gin)?( (\S+))?" "begin{} / end{}" br
\begin{${1:`!p
snip.rv = match.group(3) if match.group(2) is not None else "something"`}}
${2:${VISUAL}}
\end{$1}$0
endsnippet

